html {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(../images/pokemonBackground.jpg) center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.displayPageCenter{
    padding-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 550px;
    background:white;
    border-radius: 10px;
}
.displayPageCenter h2{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.displayPageCenter form{
    padding: 0 40px;
    box-sizing: border-box;
}

#backButton {
    position: fixed;
    top: 87%;
    left: 45%;
    padding: 15px 25px;
    background-color: #2691d9;
    border: 1px solid;
    color: #e9f4fb;
    font-weight: 700;
    text-decoration: none;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
}

#backButton:hover {
    border-color: #2691d9;
    transition: .5s;
}