<!DOCTYPE html>
<html>

<head>
    <title><%- operation %></title>
    <link href="/public/css/display.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class = "displayPageCenter">
    <h2><%- msg %></h2>

    <a id = "backButton" href="<%- url %>">Back</a>
</div>
</body>

</html>