<!DOCTYPE html>
<html>

<head>
    <title>Pokemon Team Builder</title>
</head>

<body>
    <h1>Welcome to Pokemon Builder</h1>

    <form action="" method="get">
        <fieldset>
            <legend>Login</legend>
            <br>
            <label>Username: </label>
            <input type="text" name="username" id="username"><br><br>
            <label>Password: </label>
            <input type="text" name="password" id="password">

            <br>
            <br>
            <br>
            <input type="button" value="Sign-Up">
            <input type="submit" value="Submit">
            <br>
            <br>
        </fieldset>
    </form>
</body>

</html>