<!DOCTYPE html>
<html>

<head>
    <title>Pokemon Team Builder</title>
</head>

<body>
    <h1>Welcome to Pokemon Builder</h1>

    <form action="http://localhost:5001/login" method="get">
        <fieldset>
            <legend>Login</legend>
            <br>
            <label>Username: </label>
            <input type="text" name="username" id="username" required><br><br>
            <label>Password: </label>
            <input type="password" name="password" id="password" required>

            <br>
            <br>
            <br>
            <a href="http://localhost:5001/registration">Sign-Up</a>
            <input type="submit" value="Submit">
            <br>
            <br>
        </fieldset>
    </form>
</body>

</html>