<!DOCTYPE html>
<html>

<head>
    <title>Welcome <%- name %></title>
</head>

<body>
    <h1>Welcome <%- name %></h1>

    <div>
        <%- team %>
    </div>

    <form action="http://localhost:5001/addPokemon" method="post">
        <legend>General Setting</legend>
        <label>Add Pokemon: <input type="text" name="pokemonAdd" id="pokemonAdd" required></label>
        <input type="submit" value="Add Pokemon"
            onclick="confirmMsg('Are you sure you want to add this pokemon to your team?')">
    </form>

    <form action="http://localhost:5001/removePokemon" method="post">
        <legend>General Setting</legend>
        <label>Remove Pokemon: <input type="text" name="pokemonRemove" id="pokemonRemove" required></label>
        <input type="submit" value="Remove Pokemon"
            onclick="confirmMsg('Are you sure you want to delete this pokemon?')">
    </form>

    <form action="http://localhost:5001/lookUp" method="post">
        <legend>General Setting</legend>
        <label>Look Up User's Team: <input type="text" name="lookUp" id="lookUp" placeholder="username"
                required></label>
        <input type="submit" value="Look Up">
    </form>

    <form action="http://localhost:5001/isAPokemon" method="post">
        <legend>General Setting</legend>
        <label>Is A Pokemon?: <input type="text" name="query" id="query" placeholder="query" required></label>
        <input type="submit" value="Query" id="isPokemon">
    </form>

    <form action="http://localhost:5001/pokedex" method="post">
        <legend>General Setting</legend>
        <label>Pokedex: <input type="text" name="pokedex" id="pokedex" required></label>
        <input type="submit" value="Query">
    </form>

    <a href="http://localhost:5001/" onclick="confirmMsg('Are you sure you want to log out?')">Log Out</a>

    <script>
        function confirmMsg(msg) {
            if (window.confirm(msg)) {
                return true
            } else {
                event.stopPropagation()
                event.preventDefault()
            }
        }
    </script>
</body>

</html>