<!DOCTYPE html>
<html>

<head>
    <title>Sign-Up</title>
</head>

<body>
    <h1>Register</h1>

    <form action="" method="post">
        <fieldset>
            <label>Name: </label>
            <input type="text" id="name" name="name">
            <label>Age: </label>
            <input type="text" id="age" name="age"><br><br>
            <label>Username: </label>
            <input type="text" id="username" name="username"><br><br>
            <label>Password: </label>
            <input type="password" name="password" id="password"><br><br>

            <input type="button" value="Home">
            <input type="reset" value="Reset">
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>

</html>